<header>
    <div class="header py-3 bg-dark border-top">
        <div class="text-center text-light">
            <a href="/" class="text-decoration-none home-link">
                <h4 class="mb-0">Blazor Wasm PayPal Demo</h4>
            </a>
        </div>
    </div>
</header>

@code {
}